.imagen{
    max-width: 230px;
    margin: auto;
    margin-top: 20px;
}
.comentarios{
    font-size: 30px;
}
.comentarios:hover{
    color: #d64161;
    cursor: pointer;
}
.comentario{
    display: inline-block;
}
.like{
    display: inline-block;
}
.mapa{
    display: inline-block;
}
