<!-- Header for open or close the modal -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <!-- Button -->
      <ion-button (click)="closeModal()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- Fullscreen content that displays google maps -->
<ion-content fullscreen>
  <google-map [center]="position" width="100%">
    <!-- Getting the label and position from TypeScript section -->
    <map-marker
    [position]="position"
    [label]="label">
  </map-marker>
  </google-map>
</ion-content>
