/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


.avatar{
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 80px;
    width: 80px;
}
.nombre{
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    text-align: center;
    font-size: 20px;
}
.boton{
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
}
.barras{
    font-size: 35px;
    padding-left: 20px;
    padding-top: 10px;
}
.icono{
    color: #d64161;
}
.titulo{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
    color: #d64161;
}
.subtitulo{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
}
.imagenLocal{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
ion-item:focus{
  color: #d64161;
}
